
<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
            <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedContacts()" [disabled]="!selectedContacts || !selectedContacts.length"></button>
        </ng-template>

        
    </p-toolbar>

    <p-table #dt [value]="contacts" [rows]="10" [paginator]="true" [globalFilterFields]="['firstname','surname', 'dataOfBirth', 'address', 'phone', 'iban']"
        [(selection)]="selectedContacts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Manage Contacts</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="firstname">First Name<p-sortIcon field="firstname"></p-sortIcon></th>
                <th pSortableColumn="surname">Price<p-sortIcon field="surname"></p-sortIcon></th>
                <th pSortableColumn="dateOfBirth">Date Of Birth<p-sortIcon field="dateOfBirth"></p-sortIcon></th>
                <th pSortableColumn="address">Address<p-sortIcon field="address"></p-sortIcon></th>
                <th pSortableColumn="phone">Phone<p-sortIcon field="phone"></p-sortIcon></th>                
                <th pSortableColumn="iban">IBAN<p-sortIcon field="iban"></p-sortIcon></th>                
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-contact>
            <tr>
                <td>
                    <p-tableCheckbox [value]="contact"></p-tableCheckbox>
                </td>
                <td>{{contact.firstname}}</td>
                <td>{{contact.surname }}</td>                
                <td>{{contact.dateOfBirth}}</td>
                <td>{{contact.address }}</td>
                <td>{{contact.phone }}</td>
                <td>{{contact.iban }}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editContact(contact)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteContact(contact)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{contacts ? contacts.length : 0 }} contacts.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="contactDialog" [style]="{width: '450px'}" header="Contact Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Firstname</label>
            <input type="text" pInputText id="name" [(ngModel)]="contact.firstname" required autofocus />
            <!-- <small class="p-invalid" *ngIf="submitted && !contact.firstname">Firstname is required.</small> -->
        </div>        
        <div class="p-field">
            <label for="name">Surname</label>
            <input type="text" pInputText id="name" [(ngModel)]="contact.surname" required autofocus />            
        </div>
        <div class="p-field">
            <label for="dateOfBirth">Date Of Birth</label>
            <input type="text" pInputText id="name" [(ngModel)]="contact.dateOfBirth" required autofocus />            
        </div>
        <div class="p-field">
            <label for="name">Address</label>
            <input type="text" pInputText id="name" [(ngModel)]="contact.address" required autofocus />            
        </div>
        <div class="p-field">
            <label for="name">Phone</label>
            <input type="text" pInputText id="name" [(ngModel)]="contact.phone" required autofocus />            
        </div>
        <div class="p-field">
            <label for="name">IBAN</label>
            <input type="text" pInputText id="name" [(ngModel)]="contact.iban" required autofocus />            
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveContact()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>